*::before, *::after {
    box-sizing: border-box;
}

.navBar h1{
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.navBar button.active {
    background-color: #ccc;
}

.tab {
    outline: none;
    border: none;
}